.lesson {
  background-color: lemonchiffon;
}

.title {
  color: darkblue;
  background-color: white;
}

#email {
  color:wheat;
  background-color: rgb(182,91,91);

}

#github {
  color:rosybrown;
  background-color: rgb(184,85,85);
}

#portfolio {
  color: aqua;
  background-color: rgb(226,21,21);
}
